.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search_form{
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search_form input{
  margin-right: 10px;
  width: 50%;
}
.noPost{
  text-align: center;
}
.noPost p{
  margin-bottom: 1.5em;
}
.noPost a{
  padding: 10px 25px;
}

.btn{
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  background-color: black;
  border-radius: 5px;
}
.btn:hover{
  background-color: #0F730c;
  color: white;
}

